* {
  padding: 0;
  margin: 0;
}

body{
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

/* Styling for header section */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  z-index: 5;
  background-color: black;
}

#logo{
  height: 50px;
  margin: 9px 0 9px 10px;
}

span{
  margin: 0 15px;
}
a{
  color: seashell;
  text-decoration: underline;
}

/* Styling for main container */

.container{
  display: flex;
}

#main_container{
  position: relative;
  top: 69px;
}

#mission{
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("../images/Background.jpg")
}
