* {
  padding: 0;
  margin: 0;
}

body{
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

/* Styling for header section */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  z-index: 5;
  background-color: black;
}

#logo{
  height: 50px;
  margin: 9px 0 9px 10px;
}

span{
  margin: 0 15px;
}
a{
  color: seashell;
  text-decoration: underline;
}

/* Styling for main container */

.container{
  display: flex;
}

#main_container{
  position: relative;
  flex-direction: column;
  top: 69px;
}

/* Mission Section Styling */
#mission{
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("../images/Background.jpg");
  align-items: center;
}
#mission_text{
  width: 1200px;
  text-align: center;
  background-color: black;
  padding: 15px 0;
}

/* Tea of the Month Styling */
#tea_of_the_month{
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

#pictures{
  flex-direction: row;
  flex-wrap:wrap;
  width: 1000px;
  justify-content: center;
}
#pictures .element{
  width: 300px;
  margin: 15px;
}

.element img{
  height: 200px;
}
